<div *ngIf="schedule">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/schedules">Schedules</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{schedule.name}}</li>
      </ol>
  </nav>
  <div class="row">
    <div class="col">
      <h2>{{schedule.name}}</h2>
      <div>id: {{schedule.id}}</div>
      <div>numberOfWeeks: {{schedule.numberOfWeeks}}</div>

      <button type="button" class="btn btn-info btn-sm mt-2" (click)="openModal(content)">Roll out</button>
      
      <h4 class="mt-3">Scheduled shifts:</h4>
      
      <div class="card schedule-day" *ngFor='let in of counter(schedule.numberOfWeeks*7);let i = index'>
        <h6 class="card-header">{{dayOfWeekAsString(i+1)}} (Week: {{weekOfDay(i)}}) <a class="text-primary float-right link" (click)="selectNewScheduledShift(i+1)">Add scheduled shift</a></h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let scheduledShift of schedule.scheduledShifts | filter: (i+1)" [class.selected]="scheduledShift === selectedScheduledShift" (click)="onSelect(scheduledShift)">
            <h6 class="card-title">From: {{scheduledShift.start}} End: {{scheduledShift.end}}</h6>
            <div *ngFor="let employee of scheduledShift.employees">{{employee.firstName}} {{employee.lastName}}</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div *ngIf="!newScheduledShift">
        <app-scheduledshift-detail [isNewScheduledShift]="newScheduledShift" [scheduleId]="schedule.id" [data]="selectedScheduledShift" (valueChange)="updateScheduledShift($event)"></app-scheduledshift-detail>
      </div>
      <div *ngIf="newScheduledShift">
        <app-scheduledshift-detail [isNewScheduledShift]="newScheduledShift" [scheduleId]="schedule.id" [data]="selectedScheduledShift" (valueChange)="createdScheduledShiftEvent($event)"></app-scheduledshift-detail>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Roll out {{ schedule.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col">
              <label class="form-check-label" for="from">
                  From:
                </label>  
            <ngb-datepicker [(ngModel)]="from" name="from"></ngb-datepicker>
          </div>
          <div class="col">
              <label class="form-check-label" for="from">
                  To:
                </label>  
            <ngb-datepicker [(ngModel)]="to" name="to"></ngb-datepicker>
          </div>
        </div>
        
        <label class="form-check-label" for="startFromScheduledWeek">
          Start from week:
        </label>
      <input #startFromScheduledWeek class="form-control" type="number" placeholder="1" id="startFromScheduledWeek" required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="rollout(from, to, startFromScheduledWeek.value)">Roll out</button>
  </div>
</ng-template>