<div class="row">
    <div class="col-lg">
        <h2>Shifts</h2>
        <p *ngIf="shifts && shifts.length == 0">There are no future shifts! Roll out a schedule and future shifts will
            appear
            here.</p>
        <table class="table" *ngIf="shifts && shifts.length > 0">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shift of shifts" [class.selected]="shift === selectedShift" (click)="onSelect(shift)">
                    <th scope="row">{{shift.id}}</th>
                    <td>{{ shift.start | date:"dd/MM/yy HH:mm" }}</td>
                    <td>{{ shift.end | date:"dd/MM/yy HH:mm" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg" *ngIf="selectedShift">
        <app-shift-detail [shift]="selectedShift" (valueChange)="shiftUpdated($event)"></app-shift-detail>
    </div>
</div>